@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 10vh;
    background-color: #FFD800;
    filter: drop-shadow(-5px 5px 5px gray);
}

nav img {
    margin-left: 50px;
    width: 4%;
}

.container {

    display: flex;
    height: 90vh;
    width: 100%;
}

aside {
    border: none;
    width: 20%;
    background-color: #F2F2F2;
}

section {
    width: 60%;
    background-color: #FFFFFF;
}

.menuHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
}