@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s ease;
}

:root {
    --primary-color: #FFD800;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #F2F2F2;
    --text-color: 	#585858;
    --secondary-text-color: #000000;
    --shadow: gray;
    --border-color: #d8d8d8;

    .darkMode {
        --primary-bg-color: #242526;
        --secondary-bg-color: #3a3b3c;
        --secondary-text-color: #ffffff;
        --text-color: #FFFFFF;
        --shadow: #000000;
        --border-color: #4b4b4b;
    }
}

body.darkMode {
    background-color: var(--primary-bg-color);

}

.bodyBackground {
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
    opacity: 0.1;
    filter: drop-shadow(-5px 5px 5px var(--shadow));
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 10vh;
    background-color: var(--primary-color);
    filter: drop-shadow(-5px 5px 5px var(--shadow));
}

.navLogo {
    margin-left: 50px;
    width: 8vh;
}

.container {
    align-items: center;
    display: flex;
    height: 90vh;
    width: 100%;
}

.menu{
    font-family: 'Outfit', sans-serif;
    box-shadow: -3px 3px 10px var(--shadow);
    border: none;
    width: 20%;
    background-color: var(--secondary-bg-color);
    transition: 0.3s ease;
}

/*
===========================================================================================
                                        Menu Section
===========================================================================================
*/

.menu {
    color: var(--text-color);
    overflow-y: auto;
    border-radius: 10px;
    margin-left: 25px;
    height: 85vh;
}

.menuHeader {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
}

.menuMain{
    display: flex;
    padding: 0 25px 0 25px;
    flex-direction: column;
}

.menuMain ul {
    margin-left: 10px;
}

.menuMain ul i {
    margin-right: 10px;
}

.searchMenuInput {
    border: var(--text-color) 1px solid;
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
}

.taskMenu {
    border-bottom: 0.1px solid rgb(219, 219, 219);
    font-size: 15px;
    gap: 15px;
    display: flex;
    padding: 30px 0 15px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.taskMenu p {
    font-size: 12px;
    font-weight: 700;
}

.taskMenu li {
    display: flex;
    align-items: center;
    height: 30px;
    padding-left: 10px;
    list-style: none;
    border-radius: 5px;
    cursor: pointer;
}

.taskMenu span {
    margin: 0 8px 0 auto;
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    font-size: 12px;
    font-weight: 700;
    padding: 2px 8px 2px 8px;
    border-radius: 3px;
}

.activeMenu {
    background-color: var(--border-color);
    font-weight: 700;
}

.lists {
    border-bottom: 0.1px solid rgb(219, 219, 219);
    font-size: 15px;
    gap: 15px;
    display: flex;
    padding: 15px 0 15px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.lists p {
    font-size: 12px;
    font-weight: 700;
}

.lists li {
    cursor: pointer;
    margin: 3px 0 3px 10px;
    list-style: none;
}

.menuFooter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

.colorPicker {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

#color {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.menuFooter .darkModeLabel {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -1px 5px rgba(255,255,255,0.4);
    cursor: pointer;
}

.menuFooter .darkModeLabel:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.5px;
    left: 3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.menuFooter .darkmodeCheckbox {
    width: 0;
    height: 0;
    visibility: hidden;
}

.menuFooter .darkmodeCheckbox:checked + .darkModeLabel {
    background: #242424;
}

.menuFooter .darkmodeCheckbox:checked + .darkModeLabel:after {
    left: 35px;
    transform: translateX(-10%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

.menuFooter .darkModeLabel, .darkModeLabel:after {
    transition: 0.3s
}

.menuFooter .darkModeLabel:active:after{ 
     width: 10px; 
}

.menuFooter .darkModeLabel svg {
    position: absolute;
    width: 20px;
    top: 2px;
    z-index: 100;
}
.menuFooter .darkModeLabel svg.sun {
    height: 25px;
    left: 5px;
    fill:#ffffff;
    transition: 0.3s;
}

.menuFooter .darkModeLabel svg.moon {
    height: 25px;
    left: 35px;
    fill:#7e7e7e;
    transition: 0.3s;
}

.menuFooter .darkmodeCheckbox:checked + .darkModeLabel svg.sun {
    fill:#7e7e7e;
}

.menuFooter .darkmodeCheckbox:checked + .darkModeLabel svg.moon {
    fill:#fff;
}

.menuFooter .darkmodeCheckbox:checked + .darkModeLabel + body {
  .body {
    background-color: #242424;
  }
}

#darkModeToggle {
    margin-left: 0px;
    cursor: pointer;
}

/*
===========================================================================================
                                        Main Section
===========================================================================================
*/

.mainSection {
    font-family: 'Outfit', sans-serif;
    flex: 1;
    height: 85vh;
    margin: 0px 25px 0px 25px;
    background-color: var(--primary-bg-color);
    transition: 0.3s ease;
}

.mainHeader {
    box-sizing: border-box;
    display: flex;
    flex-direction: column  ;
    height: 9vh;
    margin-bottom: 30px;
}

.todayTaskCount {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
    color: var(--secondary-text-color);
}

.mainSectionTitle {
    display: flex;
    align-items: center;
    font-size: 55px;
    color: var(--secondary-text-color);
}

.taskContainer {
    cursor: pointer;
}

.addTaskButton {
    position: relative;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 15px;
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    cursor: pointer;
    z-index: 5;
}

.addTaskButton i {
    margin-right: 20px;
}

.tasks {
    height: auto;
}

.tasks li {
    color: var(--text-color);
    display: flex;
    align-items: center;
    height: 7vh;
    border-radius: none;
    list-style: none;
    border-top: 1px solid var(--border-color);
}

#task {
    position: relative;
    width: 100%;
    cursor: pointer;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

#task input[type="checkbox"] {
    accent-color: var(--primary-color);
    color: var(--text-color);
    margin-right: 20px;
    width: 15px;
    height: 15px;
}


#task:first-child {
    border-top: none;
}

.tasks p {
    margin-left: 10px;
    font-size: 20px;
}


/*
===========================================================================================
                                        Upcoming Tasks Section
===========================================================================================
*/

.upcomingSection {
    width: 25%;
    overflow-y: auto;
    border-radius: 10px;
    margin-right: 25px;
    height: 85vh;
    border: none;
    background-color: var(--secondary-bg-color);
    box-shadow: 3px 3px 10px var(--shadow);
}

.upcomingHeader {
    font-family: 'Outfit', sans-serif;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 10vh;
    border-bottom: 1px dashed var(--border-color);
    color: var(--secondary-text-color);
}

.sticky-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);;
}

.sticky-note {
    font-weight: 700;
    font-size: 20px;
    font-family: 'Caveat', cursive;
    height: 20vh;
    width: 80%;
    margin: 20px;
    padding: 10px;
    background-color: #fffacd;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--shadow);
    color: #000000;
}

/*
===========================================================================================
                                        Modals Section
===========================================================================================
*/

.addTaskModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.addTaskModal {
    border: 1px solid var(--secondary-text-color);
    border-radius: 20px;
    background-color: var(--secondary-bg-color);
    width: 400px;
    height: 400px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modalHeader {
    margin: 0.1px 1px 1px 0.1px;
    border-radius: 19px;
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 20px;
    box-shadow: #3a3b3c 0px 3px 10px;
}

.modalLogo {
    width: 50px;
}

.modalHeader i {
    color: var(--text-color);
    cursor: pointer;
}

.addTaskForm {
    font-family: 'outfit', sans-serif;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--secondary-text-color);
}

.addTaskForm input {
    font-family: 'outfit', sans-serif;
    border: none;
    background-color: #ffffff;
    color: #585858;
}

#taskName {
    height: 25px;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0px 20px 10px;
}

#taskDescription {
    margin: 5px 0px 20px 10px;
    border: none;
    resize: none;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
}

#deadline {
    height: 25px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
}