@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #FFD800;
    --secondary-color: #F2F2F2;
    --tertiary-color: #FFFFFF;
    --dark-bg-color: #242424;
    --dark-text-color: #FFFFFF;

    .darkkMode {
        --bg-color: var(--dark-bg-color);
        --text-color: var(--dark-text-color);
    }
}

body {
    font-family: 'Outfit', sans-serif;
}

body.darkMode {
    background-color: #242424;
    color: #FFFFFF;
}

.bodyBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
    opacity: 0.1;
    filter: drop-shadow(-5px 5px 5px gray);
}

nav {
    display: flex;
    align-items: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    height: 10vh;
    background-color: #FFD800;
    filter: drop-shadow(-5px 5px 5px gray);
}

.navLogo {
    margin-left: 50px;
    width: 8vh;
}

.container {
    align-items: center;
    display: flex;
    height: 90vh;
    width: 100%;
}

aside {
    border: none;
    width: 20%;
    background-color: #F2F2F2;
}

section {
    border: olive 1px solid;
    width: 60%;
    height: 85vh;
    margin: 0px 25px 0px 25px;
    background-color: #FFFFFF;
}

.menu {
    overflow-y: auto;
    border-radius: 10px;
    margin-left: 25px;
    height: 85vh;
}

.menuHeader {
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
}

.menuMain{
    display: flex;
    padding: 0 25px 0 25px;
    flex-direction: column;
}

.menuMain ul {
    margin-left: 10px;
    cursor: pointer;
}

.menuMain ul i {
    margin-right: 10px;
}

.tasks {
    border-bottom: 0.1px solid rgb(219, 219, 219);
    font-size: 15px;
    gap: 15px;
    display: flex;
    padding: 30px 0 15px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.tasks p {
    font-size: 12px;
    font-weight: 700;
}

.tasks li {
    cursor: pointer;
    margin: 3px 0 3px 10px;
    list-style: none;
}

.lists {
    border-bottom: 0.1px solid rgb(219, 219, 219);
    font-size: 15px;
    gap: 15px;
    display: flex;
    padding: 15px 0 15px 0;
    flex-direction: column;
    box-sizing: border-box;
}

.lists p {
    font-size: 12px;
    font-weight: 700;
}

.lists li {
    cursor: pointer;
    margin: 3px 0 3px 10px;
    list-style: none;
}

.menuFooter {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 10vh;
}

.menuFooter label {
    width: 60px;
    height: 30px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -1px 5px rgba(255,255,255,0.4);
    cursor: pointer;
}

.menuFooter label:after {
    content: "";
    width: 25px;
    height: 25px;
    position: absolute;
    top: 1.5px;
    left: 3px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.menuFooter input {
    width: 0;
    height: 0;
    visibility: hidden;
}

.menuFooter input:checked + label {
    background: #242424;
}

.menuFooter input:checked + label:after {
    left: 35px;
    transform: translateX(-10%);
    background: linear-gradient(180deg,#777,#3a3a3a);
}

.menuFooter label, label:after {
    transition: 0.3s
}

.menuFooter label:active:after{ 
     width: 10px; 
}

.menuFooter label svg {
    position: absolute;
    width: 20px;
    top: 2px;
    z-index: 100;
}
.menuFooter label svg.sun {
    height: 25px;
    left: 5px;
    fill:#ffffff;
    transition: 0.3s;
}

.menuFooter label svg.moon {
    height: 25px;
    left: 35px;
    fill:#7e7e7e;
    transition: 0.3s;
}

.menuFooter input:checked + label svg.sun {
    fill:#7e7e7e;
}

.menuFooter input:checked + label svg.moon {
    fill:#fff;
}

.menuFooter input:checked + label + body {
  .body {
    background-color: #242424;
  }
}

.footerLeft {
    display: flex;
    align-items: center;
    gap: 10px;
}

#darkModeToggle {
    margin-left: auto;
    cursor: pointer;
}